@import "../scss/header/menu";
@import "../scss/main/slider";

//COLORS

$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);

//sdBsODs

h1 {
    font-size: 60px;
    color: $white;
}

.layout {
    //background-color: $semi-tp-black;

    .promo {}
}

//
/*
.flex-container {
  
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: yellow;
        .flex-item{
              background-color: cornflowerblue;
            width: 100px;
            height: 100px;
            margin: 10px;
        }
        .navbar{
          nav{
            ul{
              float: left;
              li{

              }
            }
          }
        }
}

.top-data{
  .top-logo{
            a{
              img{
                    width: 40px;
                    height: 33px;
                    
            
              }
            }
    }
}



/*
@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}


@include linx(white, blue, green, red);



$style1: 100%, 70px, #fo6d06;
$style2: (background: #bada55, width: 100%, height: 100px);

@mixin box($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}




.fogdog {
    @include box($style1...);
}

.badass {
    @include box($style2...);
}


$style3: 70px;

@mixin cucc($fontsize, $background:red) {
    font-size: $fontsize;
    background-color: $background;
}

button {
    @include cucc($style3...);
}


.button2 {
    @include cucc($style3...);
}







.message {
  border:2px solid pink;
  padding: 10px;
  color: green;
}

*/